.chatcontainer{
    height: 80vh;
    width: 100%;
    margin-top: 4px;
    background-color:white;
    display: flex;
}
.chatcontainer > div {
    height: 100%;
}

.leftsection{
    width: 25%;
    border: 1px solid rgb(255, 212, 212);
    border-radius: 9px;
    background-color: rgba(128, 128, 128, 0.23);
}

.rightsection{
    height: 90%;
    width: 75%;
}
.induser{
    margin: 2px;
    background-color: rgba(128, 128, 128, 0.389);

    padding: .5rem 0;
}
.messages{
    width: 100%;
    height: 67vh;
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    overflow-y: scroll;
}
.messages > p {
    word-wrap: break-word;
    background-color: rgb(96, 195, 173);
    width: 40%;
    border-radius: 10px;
}
.leftmsg{
    padding: .3rem;
    align-self: flex-start;
}
.rightmsg{
    padding: .4rem;
    align-self: flex-end;
}
