.profilecontainer{
  width: 90%;
  margin: 2vh auto;
}

.postedbookholder {
  width: 90%;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.3rem;
  z-index: -1;
  display: flex;
  justify-content: center;
  margin: auto;
}
.nameemailholder{
  text-align: center;
  font-weight: 600;
}
.nameemailholder > div{
  margin: .4rem auto;
}
.editdelteholder {
  width: 80%;
  margin: 0.5rem auto;
  display: flex;
  justify-content: space-between;
}
.editholder,
.deleteholder {
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.editholder > img,
.deleteholder > img {
  height: 100%;
  width: 100%;
}
.singlebook {
  position: relative;
}

.viewdetholder {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.singlebook button {
  border-radius: 15px;
  height: 35px;
  width: 200px;
  font-size: 1.1rem;
  border: 0px;
  cursor: pointer;
  color: black;
  position: absolute;
  bottom: 0;
}

.imageholder {
  width: 16rem;
  height: 16rem;
}
.imageholder > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.booksname {
  width: 50%;
}

.viewdetbtn {
  width: 10rem;
  border: 1px solid rgb(20, 18, 18);
  margin: auto;
}
