.viewdetaildet {
  width: 90%;
  margin: 10vh auto auto auto;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  font-weight: 600;
  font-size: 1.1rem;
  color: rgb(59, 59, 59);
}
.headings {
  color: black;
}
/* .leftdetailsectiondet{
  width: 100%;
} */
.imageHolderdet {
  height: 55vh;
  width: 100%;
}
.imageHolderdet > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.rightdetailsectiondet {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 55vh;
  position: relative;
  background-color: rgba(128, 128, 128, 0.018);
  border-radius: 0 5px 5px 0;
}
.pricename {
  color: black;
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.negotiabledet,
.sellerNamedet,
.detaildet {
  display: flex;
  width: 70%;
  margin: 0 auto;
  gap: 0 0.5rem;
}
.buttonchat {
  width: 40%;
  position: absolute;
  bottom: 0;
  margin-left: 30%;
  transition: color 0.3s ease-in-out;
}
.buttonchat:hover {
  color: black;
}
.editdelteholderelse {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: 70%;
  margin-left: 16%;
}
.detaildet {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* responsive section for tablets*/
@media screen and (max-width: 768px) {
  .viewdetaildet{
    flex-direction: column;
    width: 80%;
    margin: 10vh auto;
  }
  .rightdetailsectiondet > div{
    width: 100%;
  }
}

/* responsive section for mobiles*/
@media screen and (max-width: 480px) {
  .viewdetaildet{
    flex-direction: column;
    width: 90%;
    margin: 10vh auto;
  }
  .buttonchat{
    margin-left: 20%;
    width: 60%;
  }
}