.wholefaculties{
    overflow: hidden;
}
.oddfaculties , .evenfaculties {
    display: flex;
    margin: 2rem auto;
    align-items: center;
    justify-content: center;
}
.oddfaculties .left, .evenfaculties .right {
    display: flex;
    justify-content: center;
    align-items: center;
}
.oddfaculties .right, .evenfaculties .left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wholefaculties img{
    width: 90%;
    height: 90%;
    object-fit: cover;
}

.btn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: .3rem 0;
}
.btn > button {
    width: 60%;
    transition: .3s ease-in-out;
}
.btn > button:hover {
    color: black;
}

@media screen and (max-width: 768px) {
    .oddfaculties {
        flex-wrap: wrap;
    }
    .evenfaculties {
        flex-wrap: wrap-reverse;
    }
    .wholefaculties img{
        width: 100%;
        object-fit: cover;
    }
}
@media screen and (max-width: 468px) {
    .oddfaculties {
        flex-wrap: wrap;
    }
    .evenfaculties {
        flex-wrap: wrap-reverse;
    }
}