.wholefaculties{
    overflow: hidden;
}
.sectionHolder{
     width: 80%;
     margin: auto;
     margin-top: 1rem;
}

.upper,.nameprice {
    display: flex;
    justify-content: space-between;
}
.booksHolder {
    display: flex;
    gap: .6rem;
    width: 100%;
}
.btn {
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
}
.btn > button {
    width: 60%;
    transition: .3s ease-in-out;
}
.btn > button:hover {
    color: black;
}

@media screen and (max-width: 768px) {
    .oddfaculties,.evenfaculties {
        display: flex;
    }
    .oddfaculties {
        flex-wrap: wrap;
    }
    .evenfaculties {
        flex-wrap: wrap-reverse;
    }
}
@media screen and (max-width: 468px) {
    .oddfaculties,.evenfaculties {
        display: flex;
    }
    .oddfaculties {
        flex-wrap: wrap;
    }
    .evenfaculties {
        flex-wrap: wrap-reverse;
    }
}