.totalnavcontainer{
    background-color: #60c3ad;
    color: white;
    position: sticky;
    top: 0;
    z-index: 100;
}
.navbarholder {
    width: 90%;
    height: 6vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.noham{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.innernav{
    width: 100%;
    /* height: 4vh; */
    display: flex;
    justify-content: space-between;
}
.rightone > .noham{
    display: flex;
}
.rightone > .noham > div {
    margin: auto 1rem;
    font-size: 1.1rem;
}
.rightone > .noham > a {
    text-decoration: none;
    color: green;
    margin: auto .5rem;
    color: black;
    font-size: 1.1rem;
    color: white;
}
.inputnavholder{
    width: 100%;
    height: 5.5vh;
    display: flex;
    justify-content: center;
    border-top: 1px solid rgb(255, 252, 252);
}
.inputNav {
    width: 70%;
    justify-content: center;
    padding: .4rem;
    display: flex;
   justify-content: center;
   align-items: center;
}

.inputNav > div{
    width: 30rem;
    margin: auto;
}
.inputNav > input  {
    width: 35rem;
    height: 30px;
    border-radius: 10px 0px 0px 10px;
    border: 0px;
    box-sizing: border-box;

}
.inputNav > input:focus {
    outline: 0px;
}

.inputNav button {
    background-color: inherit;
    position: absolute;
    right: 0;
}
.leftone {
    margin-top: -1.8rem;
    height: 9vh;
    width: 10vh;
    padding: .4rem;
    cursor: pointer;
}
.leftone > img {
    height: 100%;
    width: 100%;
    object-fit: stretch;
    z-index: 1000;
}
#searchicon{
    height:20px;
    width:20px;
    background:white;
    padding:5px;
    border-radius: 0px 10px 10px 0px;
}
.nav-item:hover, .noham>a:hover{
    cursor: pointer;
    color: rgb(0, 0, 0);
}
.hammenu,.crossbtn{
    display: none;
}
/*tabs*/
@media screen and (max-width: 768px) {
    #smallscreen{
        position: absolute;
        right: 0;
        top: 0;
        height: 80vh;
        background-color: #60c3ad;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 20vh;
        transition: all .4s ease;
    }
    #smallscreen .nav-item {
        display: block;
        cursor: pointer;
    }
    #smallscreen .nav-item:hover {
        color: black;
    }
    #showcross {
        display: flex;
        height: 35px;
        width: 35px;
    }
    #showcross > img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .crossbtn{
        cursor: pointer;
    }
    /* .noham{
        transition: all .1s ease;
    } */
    .rightone{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .noham .nav-item {
        display: none;
    }
    .hammenu{
        display: flex;
        height: 30px;
        width: 30px;
        cursor: pointer;
    }
    .hammenu > img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
  }