.bookwraper{
    width: 16rem;
    height: auto;
    padding: .5rem;
    box-shadow: 1px 1px 4px rgb(115, 162, 189);
    background-color: white;
    border-radius: 10px 10px 3px 3px;
    transition: box-shadow .2s ease-in-out;
}

 .bookwraper:hover {
    box-shadow: 1px 1px 4px black;
} 

.viewdetholder{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
.imageholder{
    width: 16rem;
    height: 16rem;
    cursor: pointer;
}
.imageholder > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.nameprice {
    margin-top: .5rem;
    font-weight: 600;
    height: 2rem;
    display: flex;
    justify-content: space-between;
}

.viewdetbtn {
    width: 10rem;
    border: 1px solid rgb(20, 18, 18);
    margin: auto;
}

.imgholder{
    height:80%;
    width:80%;

}
.imgholder>img{
    height: 100%;
    width:100%;
}

.facultyname{
    font-size:3rem ;
    font-weight: 600;
    text-align: center;
}
.btn{
    width:400px;
}
.negotiable{
    display: flex;
    justify-content: space-between;
    width: 50%;
    font-weight: 600;
}

.backdropmaker{
    width: 100vw;
    height: 100vh;
    background-color: #00000064;
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.popmodelholder {
    height: 18vh;
    width: 20rem;
    padding: 1.4rem;
    border-radius: 10px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.buttonsection{
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-around;
    align-self: flex-end;
    justify-self: flex-end;
}
.canceldeletionbtn,.confirmdelbtn{
    background-color: #17c8209e;
    border-radius: 0px;
    border: 1px solid black;
    color: black;
    /* padding: 10px; */
    width: 6rem;
}
.canceldeletionbtn:hover{
    background-color: #17c820d0;
}
.confirmdelbtn{
    background-color: #ff0000a1;
}
.confirmdelbtn:hover{
    background-color: #ff0000d0;
}